*~
checkSpelling.csh
*.dic
*.bak
*.swp
*.log
*.aux
*.out
*.bbl
*.blg
*.fff
*.lof
*__pycache__*
figures/*
results/*
!results/lds_simulation.npz
docs/notebooks/.ipynb_checkpoints/*
docs/lectures/neuroinformatics/2023/*
!docs/lectures/neuroinformatics/2023/ldsForNeuro.tex
!docs/lectures/neuroinformatics/2023/ldsForNeuro.pdf

docs/sphinx/build/
data/*
**/old
docs/sphinx/source/auto_examples/
**/.mypy_cache/*
